openapi: 3.2.0
info:
  title: Prime Intellect Evaluations Feedback API
  version: 0.1.0
  description: Run and manage model evaluations against the Environments Hub. Includes both client-driven evaluations (push samples, finalize, retrieve) and hosted evaluations executed by Prime Intellect with logs, cancellation, and selectable inference models.
  contact:
    name: Prime Intellect
    url: https://www.primeintellect.ai
servers:
- url: https://api.primeintellect.ai
security:
- HTTPBearer: []
tags:
- name: Feedback
paths:
  /api/v1/feedback:
    post:
      tags:
      - Feedback
      summary: Submit Feedback
      operationId: submit_feedback_api_v1_feedback_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackResponse'
        '401':
          description: Authorization failed
        '422':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTPBearer: []
components:
  schemas:
    ErrorDetail:
      properties:
        param:
          type: string
          title: Param
        details:
          type: string
          title: Details
      type: object
      required:
      - param
      - details
      title: ErrorDetail
    ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
          title: Errors
      type: object
      required:
      - errors
      title: ErrorResponse
    FeedbackCategory:
      type: string
      enum:
      - bug
      - feature
      - general
      title: FeedbackCategory
    FeedbackRequest:
      properties:
        message:
          type: string
          maxLength: 2048
          minLength: 1
          title: Message
        category:
          $ref: '#/components/schemas/FeedbackCategory'
        cli_version:
          type: string
          maxLength: 64
          minLength: 1
          title: Cli Version
        run_id:
          anyOf:
          - type: string
            maxLength: 128
          - type: 'null'
          title: Run Id
      type: object
      required:
      - message
      - category
      - cli_version
      title: FeedbackRequest
    FeedbackResponse:
      properties:
        message:
          type: string
          title: Message
      type: object
      required:
      - message
      title: FeedbackResponse
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
