openapi: 3.1.0
info:
  title: Prime Intellect Compute admin-clusters teams API
  version: 0.1.0
  description: 'GPU compute marketplace and pod orchestration: availability across providers, on-demand and multi-node GPU pod lifecycle, persistent network-attached disks, and SSH key management. Supports H100, H200, B200, B300, and other GPU families with 1-256 GPU configurations.'
  contact:
    name: Prime Intellect
    url: https://www.primeintellect.ai
servers:
- url: https://api.primeintellect.ai
security:
- HTTPBearer: []
tags:
- name: teams
paths:
  /api/v1/teams/{team_id}/members:
    get:
      tags:
      - teams
      summary: List Team Members
      operationId: list_team_members_api_v1_teams__team_id__members_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          title: Team Id
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericPaginationResponse_List_TeamMemberDetail__'
        '401':
          description: Authorization failed
        '422':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
          title: Errors
      type: object
      required:
      - errors
      title: ErrorResponse
    GenericPaginationResponse_List_TeamMemberDetail__:
      properties:
        total_count:
          type: integer
          title: Total Count
          description: Total number of items available in the dataset
          default: 0
        offset:
          type: integer
          minimum: 0.0
          title: Offset
          description: Number of items to skip before starting to collect the result set
          default: 0
        limit:
          type: integer
          minimum: 0.0
          title: Limit
          description: Maximum number of items to return
          default: 100
        data:
          items:
            $ref: '#/components/schemas/TeamMemberDetail'
          type: array
          title: Data
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
          description: Response status
      type: object
      required:
      - data
      title: GenericPaginationResponse[List[TeamMemberDetail]]
    ErrorDetail:
      properties:
        param:
          type: string
          title: Param
        details:
          type: string
          title: Details
      type: object
      required:
      - param
      - details
      title: ErrorDetail
    TeamMemberDetail:
      properties:
        userId:
          type: string
          title: Userid
        userName:
          anyOf:
          - type: string
          - type: 'null'
          title: Username
        userEmail:
          anyOf:
          - type: string
          - type: 'null'
          title: Useremail
        role:
          type: string
          title: Role
        joinedAt:
          type: string
          format: date-time
          title: Joinedat
      type: object
      required:
      - userId
      - userName
      - userEmail
      - role
      - joinedAt
      title: TeamMemberDetail
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
